.page-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  isolation: isolate;
  background: var(--tg-theme-bg-color, #000000);
}

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content.mobile {
  padding-top: 56px;
}

.page-content.desktop {
  padding: 0;
}

.content-container {
  width: var(--app-max-width);
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
