.home-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  background: var(--tg-theme-bg-color, #000000);
}

.home-content .header {
  padding: 0 var(--app-padding);
}

.home-content .balance {
  padding: 0 var(--app-padding);
}

.home-content .game-modes {
  padding: 0 var(--app-padding);
  flex: 1;
  padding-bottom: env(safe-area-inset-bottom);
}
