.safe-area {
  width: 100%;
  height: var(--tg-viewport-stable-height);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: var(--tg-theme-bg-color, #000000);
}

.safe-area.desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Скрываем скроллбар */
.safe-area::-webkit-scrollbar {
  display: none;
}
