.safe-area {
  width: 100%;
  height: 100vh;
  height: var(--tg-viewport-stable-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--app-bg-color);
  transition: backdrop-filter 0.2s;
}

.settings-open .safe-area {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.safe-area-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: calc(env(safe-area-inset-bottom) + 88px);
}
