.safe-area {
  width: 100%;
  height: 100vh;
  height: var(--tg-viewport-stable-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--app-bg-color);
}

/* Отступ только для мобильных в fullscreen режиме */
.safe-area.mobile[data-fullscreen="true"] {
  padding-top: 56px;
}

.safe-area-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: calc(env(safe-area-inset-bottom) + 88px);
}
